body{
	background-color:#263238;
}

body a{
	text-decoration: none;
	width: auto;
	display: flex;
	justify-content: center;
	color: black;
}
body a:hover{
	color: grey;
}
body .content {
	width: 500px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	border: 2px solid black;
	background-color: #a3b7cf;
}