.img-thumbnail{
width: 250px;
height: 250px !important;
}
.containerr{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  width: 50%;
}
.img-large{
  max-width:100%;
max-height:100%;
}